<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536170052681-195r97v5df5iivcdves27m667ml10oi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536170052681-195r97v5df5iivcdves27m667ml10oi5</string>
	<key>API_KEY</key>
	<string>AIzaSyBoCfxVHk27YDbuqhCX6B0q5NQG0tJWcN8</string>
	<key>GCM_SENDER_ID</key>
	<string>536170052681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CinesFlex</string>
	<key>PROJECT_ID</key>
	<string>cinesflex</string>
	<key>STORAGE_BUCKET</key>
	<string>cinesflex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536170052681:ios:2f8e8f11e40d0757c9d398</string>
</dict>
</plist>